<div align="center">
  <H1>Input log below</H1>
  <mat-form-field class='input-field'  appearance="outline">
    <mat-label>Analyse your log</mat-label>
    <input class="input-line" matInput [formControl]="InputUrl" placeholder="Insert log link"  >
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary" class="submit-button"  (click)="redirectToReport()">Submit</button>
</div>
<!--<div align="center" *ngIf="this.fights; else static_text">-->
<!--  <mat-nav-list class="list-container">-->
<!--    <mat-list-item *ngFor="let fight of fights; let i = index" (click)="reportClick(fight)">-->
<!--       {{fight.end_time-fight.start_time}}  {{fight.name}}-->
<!--    </mat-list-item>-->
<!--  </mat-nav-list>-->
<!--</div>-->

<!--<ng-template #static_text>-->
<!--  <div align="center">-->
<!--    Here will be log analyse result-->
<!--  </div>-->
<!--</ng-template>-->
