<H2 align="center">
  All fights
  <button mat-raised-button color="primary" type="submit" class="back_button" (click)="return_back()">Back</button>
</H2>

    <div *ngIf="(this.tmpFights.length > 0) && (this.fights.length == 0); else saved_fights">
      <mat-nav-list class="list-container">
        <mat-list-item *ngFor="let fight of tmpFights; let i = index" (click)="reportClick(fight)">
          {{fight.name}}
          <div class="copy_button">
            <button mat-icon-button  ngxClipboard [cbContent]="[synthesLinkForFight(fight)]">
              <mat-icon>file_copy</mat-icon>
            </button>
          </div>
          <div class='state' *ngIf="fight.kill; else wipe_text">Kill</div>
          <ng-template #wipe_text>
            <div class='state' >Wipe</div>
          </ng-template>
          <div class="time">  {{this.timePresent(fight.end_time-fight.start_time)}} </div>
          <div class = "bar" *ngIf="fight.kill; else wipe_bar">
            <mat-progress-bar class='fight-progress'
                              mode="determinate"
                              value="{{100-fight.bossPercentage/100}}">
            </mat-progress-bar>
          </div>
          <ng-template #wipe_bar>
          <div class = "bar" >
            <mat-progress-bar class='fight-progress'
                              mode="determinate"
                              color="warn"
                              value="{{100-fight.bossPercentage/100}}">
            </mat-progress-bar>
          </div>
          </ng-template>

        </mat-list-item>
      </mat-nav-list>
    </div>

    <ng-template #saved_fights>
      <mat-nav-list class="list-container">
        <mat-list-item *ngFor="let fight of fights; let i = index" (click)="reportClick(fight)">
          {{fight.name}}
          <div class="copy_button">
            <button mat-icon-button  ngxClipboard [cbContent]="[synthesLinkForFight(fight)]" (click)="$event.stopPropagation()">
              <mat-icon>file_copy</mat-icon>
            </button>
          </div>
          <div class='state' *ngIf="fight.kill; else wipe_text">Kill</div>
          <ng-template #wipe_text>
            <div class='state' >Wipe</div>
          </ng-template>
          <div class="time">  {{this.timePresent(fight.end_time-fight.start_time)}} </div>
          <div class = "bar" *ngIf="fight.kill; else wipe_bar">
            <mat-progress-bar class='fight-progress'
                              mode="determinate"
                              value="{{100-fight.bossPercentage/100}}">
            </mat-progress-bar>
          </div>
          <ng-template #wipe_bar>
            <div class = "bar" >
              <mat-progress-bar class='fight-progress'
                                mode="determinate"
                                color="warn"
                                value="{{100-fight.bossPercentage/100}}">
              </mat-progress-bar>
            </div>
          </ng-template>

        </mat-list-item>
      </mat-nav-list>
    </ng-template>

    <div *ngIf="(this.fights.length == 0)">
      <mat-progress-spinner style="margin:0 auto;"
                            mode="indeterminate"></mat-progress-spinner>
    </div>
