

.list-container{
  width: 60%;
  margin-left: 20%;
}
.list-container .mat-list-item {
  margin-top: -1px;
  height: 30px;
}

.loading{
  position: absolute;
  margin-left: calc(65vw );
}

.time{
  position: absolute;
  margin-left: 3vw;
}

.icon{
  position: absolute;
  margin-left: 7vw;
}

.message{
  position: absolute;
  margin-left: 10vw;
}

.back_button{
  position: absolute;
  margin-left: 30px;
  width: 70px;
}

.wl_button{
  position: absolute;
  margin-left: 120px;
  width: 70px;
  background-color: darkgray;
  color: black;
}
