

  <H2 align="center"> Fight with boss {{this.savedFight.name}} {{getState(this.savedFight.kill)}}
    ({{this.timePresent(this.savedFight.end_time-this.savedFight.start_time)}})
    <button mat-raised-button color="primary" type="submit" class="back_button" (click)="return_back()">Back</button>
    <button mat-raised-button color="warn" type="submit" class="wl_button" (click)="go_to_wl()"> WL </button>
  </H2>



  <div class="loading" *ngIf="this.loading > 0">
    <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
  </div>
<!--  <div  *ngIf="this.loading > 0; else event_text"  >-->
  <div>
    <mat-list class="list-container">
      <mat-list-item *ngFor="let event of events" >
        <div class="time">
          {{this.timePresent(event.timestamp)}}
        </div>

        <div class="icon">
          <mat-icon *ngIf="event.tag == 'player_death' ">  sentiment_very_dissatisfied </mat-icon>  <!--  accessible -->
          <mat-icon *ngIf="event.tag == 'healer_save' "> local_hospital  </mat-icon>
          <mat-icon *ngIf="event.tag == 'boss_event' "> whatshot </mat-icon>
          <mat-icon *ngIf="event.tag == 'boss_health' "> favorite_border </mat-icon>
        </div>

        <div class="message" [ngStyle]="{color: this.get_event_color(event.importance) }">
          {{event.message }}
        </div>
      </mat-list-item>
    </mat-list>
  </div>


<!--  <ng-template #event_text>-->
<!--    <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>-->
<!--  </ng-template>-->

